@font-face {
    font-family: roboto_regular;
    src: url(../fonts//static/Roboto_Condensed-Regular.ttf);
}

@font-face {
    font-family: roboto_medium;
    src: url(../fonts//static/Roboto-Medium.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto_regular;
}
h1, h2, h3 {
    font-family: roboto_medium;
}
ul li {
    list-style: none;
}

.nav_wrapper {
    background-color: #3F82FF;
    padding: 30px 0;
}

nav {
    width: 40%; 
    margin: 0 auto;
}
nav ul, .left, .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left, .right {
    gap: 30px;
}
nav ul a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

.btn_nav {
    background-color: #FFFFFF;
    padding: 15px 10px;
    border-radius: 9px;
    color: #3F82FF;
    box-shadow: 3px 3px  .5px rgb(73, 73, 73);
    transition: .3s ease;
    font-weight: bold;
}

.btn_nav:hover {
    background-color: #D9D9D9;
    box-shadow: 5px 5px 7px .7px rgb(73, 73, 73);
    transform: translateY(3px);
}

.header_content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_slogan {
    width: 30%;
    margin: 0 auto;
}

.header_slogan h1 {
    text-align: center;
}

/* ABOUTd */

.about {
    margin-top: 15%;
}


.about h2 {
    text-align: center;
    font-size: 36px;
    color: #3F82FF;
}

.about_wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;               
    display: flex;
    justify-content: space-between;
}

.about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about_content p {
    font-size: 26px;
    width: 70%;
}


.about_description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 50px;
}
.about_description a, .card_content a {
    background-color: #3F82FF;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
    box-shadow: 3px 3px 3px .5px rgb(73, 73, 73);
    transition: .3s ease;
}

.about_description a:hover, .card_content a:hover {
    background-color: #548ffd;
    box-shadow: 5px 5px 7px .7px rgb(73, 73, 73);
    transform: translateY(3px);
}
.about_description {
    font-size: 20px;
}


/* CATALOGE */


.catalog {
    margin-top: 100px;

}
.catalog_wrapper h1 {
    font-size: 36px;
    color: #3F82FF;
    text-align: center;
}

.filter {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
        gap: 50px;

}



.filter select, .filter input {
    background: #3F82FF;
    padding: 10px;
    border-radius: 11px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    outline: none;
}

.cataloge_content_wrapper {
    margin-top: 10%;
    background-color: #3F82FF;
    padding: 40px;
}

.cataloge_content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}


.cards h2 {
    color: #FFFFFF;
    font-size: 24px;
  
}

.content_container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.card, .card_popular {
    margin-top: 5%;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 5px;
    color: #333333;
    box-shadow: 2px 2px 2px .1px rgb(159, 192, 255);

}


.card_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.card_btn a{
    width: 100%;
}
.img_card img {   
     width: 100%;
    height: 100%;
    object-fit: cover;
    top: 100px;
}

.title_card {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    
}

.card_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: center;
}

.card_desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

card_desc h3 {
    font-size: 18px;
}

.card_desc p {
    font-size: 16px;
}

.card_content a {
    box-shadow: 2px 2px 2px .1px gray;
}

/* FILTER END */



/* SLIDER */
.slider_section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.title_slider {
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
}

.section-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider-container {
    position: relative;
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
}


.prev, .next {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    background-color: rgba(0,0,0, 0.5);
    color: white;
    border: none;
    font-style: 30px;
    padding: 10px;
    z-index: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dots span {
    margin-top: 20px;
    background-color: #D9D4D4;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.dots .active {
    background-color: #8D8C8C;
    transition: .5s ease-in-out;
}


.slider img {
    min-width: 100%;
    object-fit: cover;
    transition: .3s ease;

}

.active_slide {
    animation: a .5s ease-in-out;
}

@keyframes a {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* POPULAR */


.popular_sec {
    margin-top: 100px;
    background-color:#3F82FF;
    padding: 40px;
}

.popular_sec h1 {
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
    padding: 5% 0;
}

.popular_wrapper {
    width: 80%;
    margin: 0 auto;
}

.cards_slider {
        display: flex;
        gap: 30px;
        justify-content: center;
}

.cards_popular {
    position: relative;
    width: 900px;
    margin: 0 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider_cards_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_popular {
    min-width: 280px;
    padding: 0;
}

.img_card img {
    border-radius: 30px;
}



.card_content h2 {
    padding: 0 10px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px #00BFA6 solid;
    border-radius: 15px;
    padding-bottom: 8px;
    font-size: 24px;
}

    


.popular_btn_left, .popular_btn_right {
     background-color: rgba(0,0,0, 0.5);
    color: white;
    border: none;
    font-style: 30px;
    padding: 10px;
    cursor: pointer;
}

.popular_btn_left {
    left: -5px;
}








.slider-container {
  width: 900px;
  overflow: hidden;
}

.slider-track {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}


.controls {
  margin-top: 10px;
}

button {
  padding: 8px 16px;
  font-size: 18px;
}


.prev_popular, .next_popular {
    background-color: rgba(0,0,0, 0.5);
    color: white;
    border: none;
    font-style: 30px;
    padding: 10px;
}


.next_popular, .prev_popular {
    cursor: pointer;
}
/* FOOTER */

footer {
    margin-top: 100px;
}

.footer_wrapepr {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav_footer, .contacts_footer, .nav_footer ul  {
    flex-direction: column;

}
.nav_footer, .nav_footer ul, .contacts_footer, .contacts_footer ul {
    display: flex;
    gap: 20px;

}

.nav_footer ul, .contacts_footer ul {
    gap: 10px;
}

.nav_footer h2, .contacts_footer h2 {
    color: #3F82FF;
    font-size: 24px;

}

.nav_footer a {
    color: #515151;
    font-size: 20px;
    text-decoration: none;
}

.number_fotoer, .email_footer, .address_footer {
    display: flex;
    gap: 5px;
    align-items: center;

}

.number_fotoer img, .email_footer img, .address_footer img {
    width: 35px;
    height: 35px;
}